<app-video-js [options]="{ 
  autoplay: true, 
  controls: true, 
  sources: [{ src: 'https://www.gnt.com.vn/_nuxt/videos/sample.7b56f47.mp4', type: 'video/mp4' }]}">
</app-video-js>


<app-video-js [options]="{ 
  autoplay: true, 
  controls: true, 
  techOrder: ['youtube', 'html5'],
  sources: [{ 
    src: 'https://www.youtube.com/watch?v=cW9EdTbkWfc', 
    type: 'video/youtube' 
  }]}"></app-video-js>

<!-- <iframe id="movie_player" width="560" height="315" src="https://www.youtube.com/embed/cW9EdTbkWfc" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe> -->